body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/*Added*/

.margin-top-70 {
    margin-top: 70px;
}

.margin-top-20 {
    margin-top: 20px;
}

.movie-logo {
    font-size: 100px;
}

.padding-lg-but {
    padding: 20px 5px 20px 5px;
}

.padding-huge {
    padding: 40px 5px 40px 5px;
}

.checked {
    color: #ffd800;
}