<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>


<address>
    <br />
    <p> <i class="fa fa-envelope-o" style="font-size:24px"></i>&nbsp; jakub.rzm@gmail.com</p>
    <p> <i class="fa fa-github" style="font-size:24px"></i> &nbsp; <a target="_blank" rel="noopener noreferrer" href="https://github.com/JakubRZE">github.com/JakubRZE</a></p>
    <p> <i class="fa fa-linkedin" style="font-size:24px"></i>  &nbsp; <a target="_blank" rel="noopener noreferrer"href="https://www.linkedin.com/in/jakub-m-rzepka/">linkedin.com/in/jakub-m-rzepka</a></p><br />

</address>