@{
    ViewBag.Title = "Home Page";
}

<div class="row margin-top-40">
    <div class="col-md-12 text-center">
        <p class="lead movie-logo padding-huge"> e-Book Store </p>
    </div>
</div>

<div class="row margin-top-40 ">
    <div class="col-md-12">
        <button type="button" class="btn btn-secondary btn-large btn-block padding-lg-but">Catalog</button>
    </div>
</div>

<div class="row margin-top-40">
    <div class="col-md-4">
        <button type="button" class="btn btn-success btn-large btn-block padding-huge">Top 10</button>
    </div>
    <div class="col-md-4">
        <button type="button" class="btn btn-primary btn-large btn-block padding-huge">Get Movie</button>
    </div>
    <div class="col-md-4">
        <button type="button" class="btn btn-info btn-large btn-block padding-huge">GIT</button>
    </div>
</div>